body{
    background-color: #ebf5fc;
    color: gray;
    font-size: 20px;
    margin-left: 2rem;
    font-weight: bolder;

}

#button{
    background-color: cadetblue;
    color:white;
    font-size: 18px;
    padding: 7px;
}